.catalog-container {
  display: flex;
  text-align: center;
  height: 350px;
  padding-top: 20px;
  button {
    width: 100px;
    height: 37px;
    margin: 5px;
  }
}
.video-list {
  cursor: pointer;
}
.icon-video {
  padding-right: 5px;
  vertical-align: bottom;
}
.grow2 {
  border: gray solid 3px;
  margin: 5px;
  flex-grow: 2;
  overflow-y: auto;
}
.grow8 {
  border: gray solid 3px;
  margin: 5px;
  flex-grow: 8;
  overflow-y: auto;
}
.delete-video {
  padding-right: 20px;
  cursor: pointer;
}
