$font-color: #000;
$font-header-color: #fff;

.header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: $font-color;
}

.header-flex {
  display: flex;
  align-items: center;
  color: $font-color;
  text-align: center;
  background-color: #fff;

  &__grow1 {
    flex-grow: 1;

     ul {
      font-size: large;
      font-weight: 600;
      color: green;
     }

     a {
       color: green;
     }
  }

  &__grow8 {
    flex-grow: 7;
  }
}
