mat-nav-list {

  mat-list-item {
    height: auto;

    button {
      margin-right: 30px;
    }

    img {
      padding: 10px;
      cursor: auto;
    }

    h5 {
      right: 20px;
      padding-left: 30px;
    }
  }
}

